<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>
<main>

    <div>
        <h2>Produtos a venda</h2>
    </div>

    <!--Tabela antiga de amostragem de produto usar so no list de administrador

    <table class="table" border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Descricao</th>
            <th>Valor</th>
            <th colspan="2">Ações</th>
        </tr>
        </thead>
        <tr th:each="p : ${produtos}">
            <td th:text="${p.id}"> </td>
            <td th:text="${p.descricao}"> </td>
            <td th:text="${p.valor}"> </td>

            <td> <a th:href="@{/carrinho/adicionarCarrinho/{id}(id=${p.id})}">Comprar</a> </td>

        </tr>
    </table>

    -->

    <div class="row justify-content-around">
        <div class="card" style="width: 15rem; height: 10rem; margin-top: 50px"  th:each="p : ${produtos}">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title" th:text="${p.descricao}"></h5>
                <p class="card-text" th:text="${'R$' + p.valor}"></p>
                <a th:href="@{/carrinho/adicionarCarrinho/{id}(id=${p.id})}" class="btn btn-primary ">Comprar</a>
            </div>
        </div>
    </div>

</main>
</body>
</html>