<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>
<main>

    <div>
        <h2>Produtos a venda</h2>
    </div>


    <div>
        <form th:action="@{/produto/filtrarnomecompra}" method="get">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome">
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <div class="row justify-content-around">
        <div class="card" style="width: 15rem; height: 10rem; margin-top: 50px"  th:each="p : ${produtos}">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title" th:text="${p.descricao}"></h5>
                <p class="card-text" th:text="${'R$' + p.valor}"></p>
                <a th:href="@{/venda/adicionarCarrinho/{id}(id=${p.id})}" class="btn btn-primary ">Comprar</a>
            </div>
        </div>
    </div>

</main>
</body>
</html>