<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>
    <main>
        <h1>Carrinho de Compras</h1>
        <table class="table" border="1">
            <thead>
            <tr>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Total</th>
                <th>Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${session.venda.itens}">
                <td th:text="${item.produto.descricao}">Descrição</td>
                <td th:text="${item.quantidade}">Quantidade</td>
                <td th:text="${item.produto.valor}">Valor Unitário</td>
                <td th:text="${item.quantidade * item.produto.valor}">Total</td>
                <td>
                    <a th:href="@{/venda/removerCarrinho/{id}(id=${item.produto.id})}" class="btn btn-danger">Remover</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row justify-content-around">
            <div class="col">
               <!-- <form th:href="@{/venda/finalizarCarrinho}" method="Get">
                    <button type="submit" class="btn btn-success btn-lg ">Finalizar Compra</button>
                </form>-->

                <a th:href="@{/venda/finalizarCarrinho}" class="btn btn-success btn-lg">Finalizar Compra</a>

            </div>
            <div class="col">
                <a th:href="@{/venda/listarProdutos}" class="btn btn-secondary btn-lg">Continuar Comprando</a>
            </div>
        </div>
    </main>
</body>
</html>
