<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nova Pessoa</title>
</head>
<body>
<h1>Nova Pessoa</h1>
<h2>Pessoa Física</h2>
<form th:action="@{pessoa/pessoaFisica}" th:object="${pessoaFisica}" method="post">
    <label for="nomeFisica">Nome:</label>
    <input type="text" id="nomeFisica" th:field="*{nome}" />
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" th:field="*{cpf}" />
    <button type="submit">Salvar</button>
</form>
<h2>Pessoa Jurídica</h2>
<form th:action="@{/pessoaJuridica}" th:object="${pessoaJuridica}" method="post">
    <label for="nomeJuridica">Nome:</label>
    <input type="text" id="nomeJuridica" th:field="*{nome}" />
    <label for="cnpj">CNPJ:</label>
    <input type="text" id="cnpj" th:field="*{cnpj}" />
    <button type="submit">Salvar</button>
</form>
</body>
</html>
