<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>
        <main>

            <h1>Cadastro de clientes</h1>
            <h3>Insira os dados</h3>

            <div class="alert alert-danger" th:errors="${pessoa.*}"></div>

            <form th:action="|/${pessoa.nomeClasse()}/${pessoa.id == null ? 'save' : 'update'}|"
                  th:object="${pessoa}" method="post">
                <input type="hidden" th:field="*{id}">
                <input type="text" th:if="${pessoa.tipoObjeto('pessoafisica')}" th:field="*{nome}"  placeholder="Nome">
                <input type="text" th:if="${pessoa.tipoObjeto('pessoajuridica')}" th:field="*{nome}"  placeholder="nome">
                <input type="text" th:if="${pessoa.tipoObjeto('pessoafisica')}" th:field="*{cpf}"  placeholder="cpf">
                <input type="text" th:if="${pessoa.tipoObjeto('pessoajuridica')}" th:field="*{cnpj}"  placeholder="cpnj">

                <input type="text" th:field="*{usuario.login}"  placeholder="Username">
                <input type="password" th:field="*{usuario.password}"  placeholder="password">



                <input type="submit" value="Enviar">
            </form>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>

</body>



</html>
