.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#navbar-left,
#navbar-right {
    display: flex;
    justify-content: space-between;

}

#navbar-right {
    margin-right: 100px;
}

body{
    background-color: #EBEBEB;
}

table{
    background-color:#FFFFFF ;
}
