.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#navbar-left,
#navbar-right {
    display: flex;
    justify-content: space-between;

}

#navbar-right {
    margin-right: 100px;
}

#testebotao:hover{

        color: #ff0000; /* Cor do link quando o mouse está sobre ele */
}