<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>
    <main>
        <h1>Cadastrar produto</h1>
            <form th:action="${produto.id == 0} ? @{/produto/save} : @{/produto/update}" th:object="${produto}" method="post">
                <input type="hidden" th:field="*{id}">
                <input type="text" th:field="*{descricao}" placeholder="descricao">
                <input type="text" th:field="*{valor}" placeholder="valor">
                <input type="submit" value="Enviar">
            </form>
    </main>

</body>
</html>

